html {width: 100%;}
body {background-color: #000000; padding-left: 2%; padding-right: 2%;}
p {color: #61BC99; font-size: 2vw;}
a {color: #61BC99; text-decoration: none; border-bottom: 5px solid #6DFCB0;}
a:hover {color: #61BC99;}
a:visited {color: #61BC99;}
h1 {color: #6DFCB0;font-size: 8vw;}
.author, .author a {color: #6DFCB0;}
img {max-width: 100%; border: 5px solid #6DFCB0;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
p {font-size: 4vw;}
}

.new {column-count: 3;}
